hr {
  border: revert;
  margin: revert;
}

//code {
//  background: #272822;
//}

p > code,
li > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,

{
  background: rgba(201, 235, 238, 0.44)
}

h1, h2, h3, h4, h5, strong, b {
  font-size: revert;
}